*.retry
*~
*local.yml
*.local
.DS_Store
.vagrant
.dist
.vault-password
*.pass*
password
*.pdf
*.PDF
*.xlsx
*.xls
*.doc
*.docx
*.rpm
*.iso
*.swp
*priv
*key
*.xmpi
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
pkcs8
vault-local